{% extends 'layout.html.j2' %}
{% block content %}
  {% set days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
  <div class="row">
    <div class="col-sm-2 col-md-2"><a href="{{ url_for('main.index') }}" class="btn btn-primary"><h4>&larr; Back</h4></a></div>
    <div class="col-sm-8 col-md-8 text-center">
      <h1>Admin Panel</h1>
      <p>Enter a user's username to view or modify their editing privileges.</p>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>
  <div class="content-section">
    <form action="" method="post" novalidate="novalidate">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <div class="form-group">
          {{ form.username.label(class="form-control-label") }}
          {% if form.username.errors %}
            {{ form.username(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.username.errors %}
                <span>{{ error }}</span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.username(class="form-control form-control-lg") }}
          {% endif %}
        </div>
      </fieldset>
      <div class="form-group">
        <a href="{{ url_for('main.index') }}" class="btn btn-primary">Cancel</a>
        {{ form.submit(class="btn btn-primary") }}
      </div>
    </form>

  </div>



{% endblock content %}
