{% extends 'layout.html.j2' %}
{% block content %}
  {% set days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
  <div class="row">
    <div class="col-sm-2 col-md-2"><a href="{{ url_for('view.summary', level=level) }}" class="btn btn-primary"><h4>&larr; Back</h4></a></div>
    <div class="col-sm-8 col-md-8">
      <h1 class="text-center">Links and Documents</h1>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>

  <div class="row container mb-4 mt-2">
    <div class="col-xs-12 col-md-6 container">
      <a href="{{ url_for('edit.new_section', level=level) }}" class="btn btn-primary" style="width: 100%;">New Section</a>
    </div>
    <div class="col-xs-12 col-md-6 container">
      <a href="#" class="btn btn-primary" style="width: 100%;">Change Order</a>
    </div>

  </div>

  {% if sections|length == 0 %}
    <div class="text-center content-section">
      No links or documents.
    </div>
  {% endif %}
  <div class="row">
    {% for section in sections %}
    {% set links = links_sorted[section.id] %}
      <div class="container col-sm-12 col-md-6 col-lg-4">
        <div class="content-section">
          <h3>{{ section.title }}</h3>
          {% if section.description %}
            <p>{{ section.description }}</p>
          {% endif %}
          <ul>
            {% for link in links %}
              <li><a target="_blank" href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
          <a href="{{ url_for('edit.edit_section', level=level, id=section.id) }}" class="btn btn-primary">Edit</a>
          <a href="{{ url_for('edit.delete_section', level=level, id=section.id) }}" class="btn btn-primary">Delete</a>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}
