{% extends 'layout.html.j2' %}
{% block content %}
  {% set days_of_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday'] %}
  <div class="row">
    <div class="col-sm-2 col-md-2"><a href="{{ url_for('view.summary', level=level) }}" class="btn btn-primary"><h4>&larr; Back</h4></a></div>
    <div class="col-sm-8 col-md-8">
      <h1 class="text-center">Calendar</h1>
    </div>
    <div class="col-sm-2 col-md-2"></div>
  </div>
  <div id='calendar'></div>
{% endblock content %}

{% block head %}
  <link href="{{ url_for('static', filename='fullcalendar/core/main.css') }}" rel="stylesheet" />
  <link href="{{ url_for('static', filename='fullcalendar/daygrid/main.css') }}" rel="stylesheet" />

  <script src="{{ url_for('static', filename='fullcalendar/core/main.js') }}"></script>
  <script src="{{ url_for('static', filename='fullcalendar/daygrid/main.js') }}"></script>

  <script>
    var listOfMonths = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
    var listOfDays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

    document.addEventListener('DOMContentLoaded', function() {

      var events = {{ events }};

      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        plugins: [ 'dayGrid'],
        header: {
          left:   'dayGridMonth,dayGridWeek',
          center: 'title',
          right:  'today prev,next'
        },
        eventLimit: true,
        events: events,
        eventClick: function(info) {
          location.href = "{{ url_for('view.event', level=level, id=0) }}" + info.event.id;
        }
      });

      calendar.render();
    });
  </script>
{% endblock head %}
