{% extends 'layout.html.j2' %}
{% block content %}
  <div class="content-section">
    <h1>Internal server error (500)</h1>
    <p>An error occurred on the server. Please try again later.</p>
  </div>
{% endblock content %}
